celery==5.5.2
django==5.2
django-filter==25.1
djangorestframework==3.16.0
djangorestframework-simplejwt==5.5.0
google-genai==1.16.1
huggingface-hub==0.31.4
numpy==2.2.6
pgvector==0.4.1
Pillow==11.2.1
python-dotenv==1.1.0
psycopg2-binary==2.9.10
redis==6.1.0
requests==2.32.3
sentence-transformers==4.1.0
uvicorn